<div class="row" id="movies">
  <% @movies.each do |movie| %>
    <% favorite = Favorite.where(user_id: @user.id, movie_id: movie.id).first %>
      <%= render 'shared/movie-card', movie: movie %>
  <% end %>
</div>


