<% if @movies.empty? %>
  <div class="container">
    <h1 class="first_title">Vous n'avez pas ajouté de films en favoris</h1>
  </div>
<% else %>
  <div class="container">
    <h1 class="first_title"> Mes favoris </h1>
    <%= render 'favorites-movies' %>
  </div>
<% end %>
