<div class="container form">
  <div class="background-form">
    <h1>Ajouter un film</h1>
      <%= image_tag("placeholder-image.png", height: 100, width: 150, crop: :fill, class: "image") %>
      <img src="" height="200" alt="" class="photo">
      <%= render "form" %>
  </div>
</div>

<%= javascript_pack_tag("form") %>
