<div id="navbar-movies-links-color">
  <div class="navbar-movies-links container">
    <h4><%= link_to "Nouveautés", news_path %></h4>
    <h4><%= link_to "Tous les films", movies_path %></h4>
    <%= render 'shared/home-search' %>
  </div>
</div>
