<div class="search-form">
  <%= form_tag(movies_path, method: :get) do %>
    <%= text_field_tag :q %>
    <%= button_tag :submit do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
