<main class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Partagez vos films préférés avec une communauté de passionnés</h1>
      </div>
      <%= render 'shared/search' %>
    </div>
  </div>
</main>
<div class="container">
  <h2 class="first_title"> Derniers ajouts </h2>
</div>
<%= render 'shared/movies' %>

