<div class="container">
  <div class="banner">
    <div class="row">
      <div class="col-xs-12">
        <h1>Ravivez vos souvenirs</h1>
        <p>Tous les meilleurs films des années 80</p>
      </div>
      <div class="searchbar col-xs-12">
        <input type="text">
        <button>Go</button>
      </div>
    </div>
  </div>
</div>
