const apiKey = "<%= ENV['SECRET_KEY_THE_MOVIE_DB'] %>"
// console.log(apiKey)
const url = `https://api.themoviedb.org/4/list/1?page=2&api_key=${apiKey}&sort_by=original_order.asc`
// const url = 'http://www.omdbapi.com/?apikey=[99339724]&'
// console.log(url)
const movies = document.querySelector("#movies");
// console.log(movies)
const apiResults = () => {
  fetch(url)
    .then(response => response.json())
    .then((data) => {
      data.results.forEach((result) => {
        const movie =
          `<div class="movie-card col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div>
                <a href="#">
                  <img src="https://image.tmdb.org/t/p/w500${result.poster_path}" alt="IMAGE" />
                </a>
              </div>
              <div>
                <h2> ${result.original_title} </h2>
                <h3>Popularité: ${result.popularity}</h3>
                <h4>Date de sortie: ${result.release_date}</h4>
                <p>${result.overview}</p>
                <a href="#">
                  Détails
                </a>
              </div>
          </div>`;
        movies.insertAdjacentHTML("beforeend", movie)
      })
    })
}

export { apiResults }
