const apiKey = "<%= ENV['SECRET_KEY_OMDB'] %>"
// console.log(apiKey)
const url = `https://api.themoviedb.org/4/list/1?page=1&api_key=${apiKey}&sort_by=original_order.asc`
// console.log(url)
const movies = document.querySelector("#movies");
// console.log(movies)
const apiResults = () => {
  fetch(url)
    .then(response => response.json())
    .then((data) => {
      data.results.forEach((result) => {
        const movie =
          `<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <a href="#" class="movie-card">
              <div>
                <img src="https://image.tmdb.org/t/p/w500${result.poster_path}" alt="IMAGE" />
              </div>
              <div>
                <h2> ${result.original_title} </h2>
                <h3>Popularité: ${result.popularity}</h3>
                <h4>Date de sortie: ${result.release_date}</h4>
                <p>${result.overview}</p>
              </div>
            </a>
          </div>`;
        movies.insertAdjacentHTML("beforeend", movie)
      })
    })
}

export { apiResults }
