.banner {
  display:flex;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("banner-image-2.jpg");
  align-items: center;
  background-size: cover;
  height: 50vh;
  // justify-content: space-around;
}

.banner h1 {
  color: white;
  margin-left: 20px;
}

.banner p {
  color: white;
  opacity: 0.8;
  font-weight: lighter;
  font-size: 20px;
}

.banner h1 {
  font-size: 40px;
}

.banner-search {
  border-radius: 2px;
  margin-left: 20px;
  height: 85px;
  padding-top: 11px;
}

.banner-search input {
  height: 40px;
  width: 260px;
  border-radius: 6px;
  border-width: 0px;
  // vertical-align: top;
  // border
}

.banner-search button {
  height: 40px;
  width: 45px;
  border-radius: 6px;
  border-width: 0px;
  cursor: pointer;
  // vertical-align: top;
}
