.movie-card {
  display:flex;
  margin-top: 20px;
  max-width: 500px;
  color: $dark;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: white;
  padding: 0px !important;
  margin: 10px;
  max-width: 500px !important;
  transition: all 0.3s ease;
  &:hover {
    color: $dark;
    transform: translateY(-2px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.15);
  }
}

.movie-card h3, h4, p {
  font-family: $headers-font;
}

.movie-card img {
  height: 300px;
}
.movie-card p {
  color: $dark;
}
.movie-card h2 {
  font-family: $body-font;
  font-size: 20px;
}
.movie-card h3 {
  font-size: 16px;

}
.movie-card h4 {
  font-size: 14px;
}
.movie-card p {
  font-size: 14px;
  color: $dark-gray;
}

.movie-card a {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#movies {
  justify-content: center;
}

#movies a:hover {
  text-decoration: none;
}

.movie-list-details {
  position: relative;
  width: 300px;
  padding: 10px;
}

.movie-list-details p {
  text-align: justify;
}

.movie-list-details h2 {
  padding-top: 15px;
}

@media all and (max-width: 780px) {
 .movie-list-details p {
  font-size: 12px;
  }
  .movie-list-details h2 {
  font-size: 18px;
  }
  .movie-list-details h4 {
  font-size: 13px;
  }
}

.movie-card-details {
  display:flex;
  margin-top: 20px;
  color: $dark;
  height: auto;
}

.movie-card-details a {
  margin-left: 15px;
}

.movie-card-details h1, h2, h3, h4, p {
  padding-left: 20px;
}

.movie-card-details p {
  font-size: 14px;
}

.movie-card-details img {
  height: 450px;
  width: auto;
  max-width: 450px;
}

.movie-card-details h1 {
  font-size: 22px;
  max-width: 430px;
}

.movie-card-details h2 {
  font-size: 14px;
  margin-bottom: 40px;
  color: $gray;
}

.movie-card-details h3, h4 {
  font-size: 12px !important;
  color: $gray !important;
}

.movie-card-details h4 {
  margin-bottom: 20px
}

@media all and (max-width: 1000px) {
  .movie-card-details img {
    width: 410px;
    height: auto;
  }

  .movie-card-details {
    flex-direction: column;
    align-items: center;
  }

  .movie-card-details h1 {
      font-size: 16px;
      margin-top: 16px;
      max-width: 320px;
  }

  .movie-card-details p {
    font-size: 13px;
  }
  .movie-card-details a {
    margin-left: 15px;
  }
}

.movie-card-favorite {
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.movie-text {
  max-width: 570px;
  text-align: justify;
  position: relative;
}

.movie-text .btn-position {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.movie-text .favorite a {
  position: absolute;
  top: 10px;
  right: 10px;
}



