.footer-social-media-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  a {
    color: $medium-gray;
  }
}

#social-media-fonts a {
  font-size: 25px;
  transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}

footer {
  margin-top: 20px;
}
