.form {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.field {
  margin-bottom: 20px;
}

.form .field input {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  // border-width: 0.5px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-left: 8px;
}

.form h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

.actions input {
  background-color: $primary-color;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 4px;
  border: 0px;
  padding: 10px 15px;
}

.form .login {
  margin-top: 10px;
 }

.form .login p {
  color: $gray;
  font-size: 14px;
  margin-left: 0px;
}

// .form .field .checkin input {
//   width: 10px;
//   display: inline-block;
// }

.form .box input {
  width: 11px;
  height: 11px;

}

.background-form {
  background-color: rgba(240, 240, 240, 0.1) ;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 5px;

}



