@import url("https://fonts.googleapis.com/css?family=Lora|Roboto:300,400,400i,500,700");

$body-font: 'Roboto', sans-serif;
$headers-font: 'Lora', serif;


body {
  font-family: $body-font;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: $headers-font;
}

a {
  text-decoration: none;
}

@import "navbar";
@import "banner";
@import "form";
@import "footer";
@import "profile";
@import "alert";
@import "cards";
@import "titles";
@import "pagination";
@import "search-form";
@import "page";
@import "green-button";
@import "red-button";
@import "movie-details";
