.navbar-content {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
}

.navbar-avatar {
  border-radius: 50%;
}

.wrapper {
  background-color: $light-gray;
}

.wrapper span a {
  color: $medium-gray;
  margin-right: 20px;
  font-weight: bold;
}

#logo-item {
  flex-grow: 1;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.gravatar {
  font-size: 40px;
}

.profile-link {
  margin-right: 40px;
}

.button-secondary a {
  color: $primary-color;
  border: 2px solid $primary-color;
  // text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
}

.button-secondary a:hover {
  // text-decoration: none;
  color: $nice-green;
  border: 2px solid $light-green;
}

.button-ternary a {
  color: $text-color;
  // text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
}

