.full-page {
  min-height: calc(100vh - 282px);
  margin-bottom: 0px !important;
}

@media all and (max-width: 780px) {
  .full-page {
      min-height: 1000px;
  }
}

.back-btn {
  color: $orange;
  margin-left: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
}
