.page-item.active .page-link {
  background-color: $nice-green !important;
  border-color: $nice-green !important;
  color: white !important;
}

.pagination {
  margin-left: 42px;
}

.page-item .page-link {
  z-index: 1;
  color: $nice-green !important;
  border-color: $nice-green !important;
}
