<nav class="wrapper sticky-top" >
  <div id="navbar-bottom-line-color">
    <%= render 'shared/navbar/navbar-top-line' %>
    <div class="navbar-bottom-line container">
      <%= render 'shared/navbar/navbar-bottom-line' %>
    </div>
  </div>
</nav>
