<nav class="wrapper sticky-top" >
  <%= render 'shared/navbar/navbar-top-line' %>
  <div id="navbar-movies-links-color">
    <div class="navbar-movies-links container">
      <%= render 'shared/navbar/navbar-bottom-line' %>
      <%= render 'shared/search-form' %>
    </div>
  </div>
</nav>
