<nav class="wrapper sticky-top" >
  <%= render 'shared/navbar/navbar-top-line' %>
  <div id="navbar-bottom-line-color">
    <div class="navbar-bottom-line container">
      <%= render 'shared/navbar/navbar-bottom-line' %>
      <%= render 'shared/search-form' %>
    </div>
  </div>
</nav>
